.red-border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.items-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-grey{
    background-color: #121212;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}


::-webkit-scrollbar {
    width: 12px; 
    height: 12px;
}


::-webkit-scrollbar-track {
    background: #2c2c2c; 
    border-radius: 10px; 
}


::-webkit-scrollbar-thumb {
    background: #555; 
    border-radius: 10px;
    border: 2px solid #2c2c2c; 
}


::-webkit-scrollbar-thumb:hover {
    background: #888; 
}


::-webkit-scrollbar-thumb:active {
    background: #aaa; 
}
